language: c
sudo: false
before_install:
  - source <(curl -SLs https://raw.githubusercontent.com/${TRAVIS_REPO_SLUG}/${TRAVIS_BRANCH}/install.sh)
install:
#  - ln -s $PWD /usr/local/share/arduino/libraries/WiFiManager
# boards manager not working on 1.6.7 - 1.6.8
# -Djava.awt.headless=true
#  - arduino --pref "boardsmanager.additional.urls=http://arduino.esp8266.com/stable/package_esp8266com_index.json" --save-prefs
# install lib arduino json not working in 1.6.5
#  - arduino --install-library "ArduinoJson"
#  - git clone https://github.com/bblanchon/ArduinoJson /usr/local/share/arduino/libraries/ArduinoJson
#  - arduino --install-boards esp8266:esp8266
#  - arduino --board esp8266:esp8266:generic --save-prefs
#  - arduino --pref "compiler.warning_level=all" --save-prefs
script:
  - "echo $PWD"
  - "echo $HOME"
  - "ls $PWD"
  - build_platform esp8266

after_success:
  - bash <(curl -s https://codecov.io/bash)
notifications:
  email:
    on_success: change
    on_failure: change
