language: c
sudo: false
before_install:
  - set -e
  - source <(curl -SLs https://raw.githubusercontent.com/${TRAVIS_REPO_SLUG}/${TRAVIS_BRANCH}/install.sh)

install:
  - sudo pip install esptool

script:
  - "echo $PWD"
  - "echo $HOME"
  - "ls $PWD"
  - build_platform esp8266

group: 
  - stable

dist: 
  - precise

os: 
  - linux

notifications:
  email:
    on_success: change
    on_failure: change
